@media only screen and (max-width:768px){

    #Firstpage .image>img{
      padding:15px;
    }
    footer .allfooter{
        padding:0px 45px;
    }
    .accordion-hidden>p{
        width:50%;
    }
    #Secondpage .inform .categori>h3{
        margin-top:35px;
    }
}