*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.title{
    background-color:#fd602c;
}
.title>.barLeft{
    display: flex;
    padding:1.5% 0%;
}
.title>.barLeft>p{
    color:white;
    margin-right:2%;
}
.title>.barLeft>span{
    color:white;
}
.title>.barRight>ul{
    display:flex;
    padding:4.4% 0%;
}
.title>.barRight>ul>li{
    list-style-type: none;
    color:white;
    margin-right:5%;
    transition:all 0.3s ease-in;
}
.title>.barRight>ul>li:hover{
    color:black;
}
.topnav {
    overflow: hidden;
    float: right;
}
.allrow{
    width:100%;
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  .active {
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: left;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
.navbar .name{
    display: flex;
    padding:0;
}
.navbar .name>i{
    width:40px;
    height:40px;
    background-color:#fd602c;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items:center;
    transform:rotate(320deg);
    color:white;
    font-size:20px;
    margin-right:5%;
}
.bars{
    padding:0;
}
.navbar {
    padding:0;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top:6%;
    z-index:22222;
    padding:15px;
    background-color:white;
  }

.dropdown{
    position: relative;
}
.dropdown .hovered{
    background-color:#e4e4e48a;
    width:150%;
    height:100%;
    display: none;
    animation-name: drop;
    animation-duration: 1s;
}
@keyframes drop{
    from{opacity:0}
    to{opacity:1}
}
.dropdown .hovered>li{
    list-style-type: none;
    padding:15px;
}
.dropdown:hover .hovered{
    display: inline-block; 
}
#Firstpage{
    width:100%;
    height:100%;
    position: relative;
    z-index: -100;
    margin-top:7%;
}
#Firstpage .image{
    width:100%;
    position: relative;
}
#Firstpage .image::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:2;
}
#Firstpage .image>img{
    width:100%;
}
#Firstpage .info{
    position: absolute;
    top:35%;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    z-index:22;
}
#Firstpage .info>h2, .info>h5{
    font-size:18px;
}
#Secondpage {
    margin-top:8%; 
}
#Secondpage .about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#Secondpage .about>h3{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:35px;
}
#Secondpage .about>p{
    color:#777;
    text-align: center;
    line-height: 23px;
    color: #727272;
    width:40%;
    font-size:17px;
}
#Secondpage .about>p>span{
    color:#fd602c;
}
#Secondpage .img-left{
    padding:0;
    width:674px;
    height: 431px;
    margin-top:4%;
}
#Secondpage .img-left>img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
#Secondpage .content{
    padding:4% 3%;
}
#Secondpage .content>h2{
    color:#fd602c;
    font-size:22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#Secondpage .content>p{
    line-height: 23px;
    color: #727272;
    font-size:15px;
    display: block;
}
#Secondpage .content>a{
    width:140px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color:#fd602c;
    color:white;
    border-radius:3px;
    margin-top:9%;
    transition:all 0.3s ease-in;
}
#Secondpage .content>a:hover{
    background-color:black;
}
#Thirdpage{
    margin-top:6%;
    width:100%;
    height:100%; 
}
#Thirdpage .background{
    overflow:hidden;
    position: relative;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../Images/image2.jpg);
}
#Thirdpage .background::after{
    content:"";
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    z-index:2;
    background-color:rgba(0, 0, 0, 0.616);
}
#Thirdpage .background .img-info{
    padding:5%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    flex-direction: column;
    z-index:22;
}
#Thirdpage .background .img-info>h3{
    color:white;
    font-size:45px;
}
#Thirdpage .background .img-info>p{
    color:white;
    font-size:18px;
    text-align: center;
    margin-top:3%;
    width:80%;
}
#Thirdpage .background .img-info>a{
    width:140px;
    height:40px;
    border-radius:3px;
    background-color:#fd602c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:white;
    transition:all 0.3s ease-in;
    margin-top:2%;
}
#Thirdpage .background .img-info>a:hover{
    background-color: white;
    color:black;
}
#Fourthpage{
    background-color: #f6f6f6;
    overflow:hidden;
}
#Fourthpage .offer>h3{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    margin-top:10%;
}
#Fourthpage .offer .accordion{
    margin-top:5%;
}
#Fourthpage .offer .accordion .aboutMain3 h1,p,span{
    display: inline;
}
#Fourthpage .offer .accordion .aboutMain3 span{
    color: #fd602c;
}
#Fourthpage .offer .accordion .aboutMain4Section{
    background-color: #f6f6f6;
    padding-top: 80px;
}
#Fourthpage .offer .accordion .aboutMain4Section h1{
    font-size: 25px;
}
#Fourthpage .offer .accordion .click{
    position: relative;
    background-color:white;
    padding: 3% 0%;
    font-size: 18px;
    padding-left:2%;
}
#Fourthpage .offer .accordion .click:hover{
    cursor: pointer;
}
#Fourthpage .offer .accordion .click{
   margin-top:4%;
}
#Fourthpage .offer .accordion .minus,.plus{
    position: absolute;
    left: 80%;
}
#Fourthpage .offer .accordion .accardion-hidden{
    max-height: 0;
    overflow: hidden;
    transition: .5s;
}
#Fourthpage .offer .accordion .accardion-hidden>p{
    color:#727272;
    font-size:15px;
    text-align: center;
}
#Fourthpage .offer .accordion .active{
    transition: .5s;
}
#Fourthpage .offer .accordion .opacityPlus{
    opacity: 0
}
#Fourthpage .skills,.offer,.slider{
   padding:3% 1%;
}
#Fourthpage .skills>h3{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    margin-top:10%;
}
#Fourthpage .skills .value{
    margin-top:7%;
    width:350px;
    height:35px;
    background-color:white;
    position: relative;
    z-index: 1;
}
#Fourthpage .skills .value:nth-child(3) span{
    width:90%;
}
#Fourthpage .skills .value:nth-child(4) span{
    width:70%;
}
#Fourthpage .skills .value:last-child span{
    width:75%;
}
#Fourthpage .skills .value>span{
    color:white;
    font-size:14px;
    padding: 2% 5%;
    z-index:1;
    font-family: Arial, Helvetica, sans-serif;
}
#Fourthpage .all-slider{
    width: 400px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#Fourthpage .slider .all-slider .first-item {
    width: 400px;
    height: 300px;
    display: inline-block;
    position: absolute;
    left: 0px;
    overflow: hidden;
}
#Fourthpage .slider .all-slider .first-item:nth-child(2){
    left: 400px;
}
#Fourthpage .skills .value>span{
    position: absolute;
    top:0;
    left:0;
    background-color:#fd602c;
    width:80%;
    height:100%;
    z-index:0;
}
#Fourthpage .slider>h3{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    margin-top:10%;
}
#Fourthpage .slider .all-slider .icons>i{
   font-size:13px;
   margin:2px 3px;
   text-align: center;
   transition:all 0.3 ease-in;
}
.all-slider .icons i {
    color: #727272;
}
.all-slider .icons .active-indicator {
    color: #313030;
}
#Fourthpage .slider .all-slider .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}
#Fourthpage .slider .all-slider .first-item .info>p{
    color: #727272;
}
#Fourthpage .slider .all-slider .first-item .info{
    background-color:white;
    height:100px;
    padding:4%;
    margin-top:3%;
}
#Fourthpage .slider .all-slider .first-item .img-info{
    display: flex;
    margin-top:4%;
}
#Fourthpage .slider .all-slider .first-item .img-info>img{
    width:120px;
    height:120px;
    border-radius:100%;
    border:8px solid #fd602c;
}
#Fourthpage .slider .all-slider .first-item .img-info>div{
    padding:2%;
}
#Fourthpage .slider .all-slider .first-item .img-info>div>h4{
    color:#2e2e2e;
    font-family: Arial, Helvetica, sans-serif;
    font-size:22px;
}
#Fourthpage .slider .all-slider .first-item .img-info>div>p{
    color:#fd602c;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}
#Fifthpage{
    margin-top:5%;
}
#Fifthpage .ourteam{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom:3%;
}
#Fifthpage .ourteam>h3{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:35px;
}
#Fifthpage .ourteam>p{
    color:#777;
    text-align: center;
    line-height: 23px;
    color: #727272;
    width:50%;
    font-size:17px;
}
#Fifthpage .ourteam>p>span{
    color:#fd602c; 
}
#Fifthpage .allimg{
    height:500px;
    overflow: hidden;
    margin-bottom:5%;
    position: relative;
}
#Fifthpage .allimg .image{
    width:360px;
    height: 360px;
    overflow: hidden;
}
#Fifthpage .allimg .image>img{
    width:100%;
    height: 100%;
    transition:all 0.3s ease-in;
}
#Fifthpage .allimg:hover .img-content{
    transform: translateY(-50%);
}
#Fifthpage .allimg:hover img{
    transform: scale(1.12,1.12)
}
#Fifthpage .allimg .img-content{
    width:360px;
    height:300px;
    background-color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    overflow: hidden;
    transition:all 0.3s ease-in;
}
#Fifthpage .allimg .img-content>h3{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}
#Fifthpage .allimg .img-content>span{
    color:#fd602c;
    font-size:14px;
}
#Fifthpage .allimg .img-content>p{
    color:#727272;
    margin-top:3%;
}
#Fifthpage .allimg .img-content>ul{
    display: flex;
    justify-content: center;
}
#Fifthpage .allimg .img-content>ul>li{
    list-style-type: none;
    margin-right:3%;
}
footer{
    background-color: #242424;
}
footer .adress{
    margin:5% 0%;
}
footer .adress>div{
    display:flex;
}
footer .adress div>i{
    width:30px;
    height:30px;
    border-radius:50%;
    background-color:white;
    font-size:18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(315deg)
}
footer .adress>div>h2{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    margin-left:5%;
}
footer ul>li{
    color: #727272;
    list-style-type: none;
    border-bottom: 1px solid #2e2e2e;
    line-height:2.8;
}
footer .posts{
    margin:5% 0%;
}
footer .posts>h2{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px; 
}
footer .posts>p{
    width:30px;
    color:white;
    border-bottom:3px solid white;
}
footer .posts>div{
    margin-top:13%;
}
footer .posts .first{
    border-bottom: 1px solid #2e2e2e;
}
footer .posts>div>img{
    border-radius:50%;
    float:left;
    margin:-3% 3%;
}
footer .posts>div>a{
    text-decoration: none;
    color:white;
    font-size:15px;
    transition: all 0.3s ease-in;
}
footer .posts>div>p{
    color: #727272;
}
footer .posts>div>a:hover{
    color: #727272;
}
footer .links{
    margin:5% 0%;
}
footer .links>h2{
    color:white;  
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px; 
}
footer .links>p{
    width:30px;
    color:white;
    border-bottom:3px solid white;
}
footer .links .firstrow{
    display: flex;
    margin-top:15%;
}
footer .links .firstrow>div{
    width:90px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2e2e2e;
    transition:all 0.3s ease-in;
}
footer .links .firstrow>div:last-child{
    width:60px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2e2e2e;
    transition:all 0.3s ease-in;
    margin-left:3%;
}
footer .links .firstrow>div>a{
    text-decoration: none;
    color: #727272;
    transition:all 0.3s ease-in;
}
footer .links .firstrow>div:hover{
    border-color:#fd602c;
}
footer .links .firstrow>div:hover a{
    color:#fd602c;
}
footer .links .secondrow{
    display: flex;
    margin-top:5%;
}
footer .links .secondrow>div{
    width:120px;
    height:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2e2e2e;
    transition:all 0.3s ease-in;
}
footer .links .secondrow>div:last-child{
    width:80px;
    height:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fd602c;
    transition:all 0.3s ease-in;
    margin-left:3%;
}
footer .links .secondrow>div:first-child>a{
    text-decoration: none;
    color: #727272;
    transition:all 0.3s ease-in;
}
footer .links .secondrow>div:last-child>a{
    color: #fd602c;
    transition:all 0.3s ease-in;
}
footer .links .secondrow>div:hover{
    border-color:#fd602c;
}
footer .links .secondrow>div:last-child:hover a{
    text-decoration:none;
}
footer .links .secondrow>div:first-child:hover a{
    color:#fd602c;
}
footer .links .thirdrow{
    display: flex;
    margin-top:5%;
}
footer .links .thirdrow>div{
    width:110px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2e2e2e;
    transition:all 0.3s ease-in;
}
footer .links .thirdrow>div:last-child{
    width:80px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2e2e2e;
    transition:all 0.3s ease-in;
    margin-left:3%;
}
footer .links .thirdrow>div>a{
    text-decoration: none;
    color: #727272;
    transition:all 0.3s ease-in;
}
footer .links .thirdrow>div:hover{
    border-color:#fd602c;
}
footer .links .thirdrow>div:hover a{
    color:#fd602c;
}
footer .links .fourrow{
    display: flex;
    margin-top:5%;
}
footer .links .fourrow>div{
    width:80px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2e2e2e;
    transition:all 0.3s ease-in;
}
footer .links .fourrow>div:last-child{
    width:60px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2e2e2e;
    transition:all 0.3s ease-in;
    margin-left:3%;
}
footer .links .fourrow>div>a{
    text-decoration: none;
    color: #727272;
    transition:all 0.3s ease-in;
}
footer .links .fourrow>div:hover{
    border-color:#fd602c;
}
footer .links .fourrow>div:hover a{
    color:#fd602c;
}
footer .usefullinks{
    padding:5% 0%;
}
footer .usefullinks>h2{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
}
footer .usefullinks ul>li:hover{
    color:white;

}
footer .usefullinks ul>li{
    transition:all 0.3s ease-in;
}
footer .end{
    background-color: #1a1a1a !important;
}
footer .end .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2% 2%;
}
footer .end .icons>i{
    width:50px;
    height:50px;
    background-color:white;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fd602c;
    margin-left:1%;
    transition:all 0.3s ease-in;
}
footer .end .icons>i:nth-child(5){
    background-color:#fd602c;
    color:white;
}
footer .end .icons>i:hover{
    background-color:#fd602c;
    color:white;
}
footer .end .author{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .end .author>p{
    font-size:15px;
    color:white;
}